
<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <style>
  .resetpassword-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  form {
  display: inline-block;
  text-align: left;
}

.form-group h2 {
    text-align: center;
    margin-bottom: 30px;
}

label {
  font-weight: bold;
}
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .form-control:focus {
    border-color: #007bff;
  }
  button {
    background-color: rgb(59, 59, 225);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
button:hover {
    background-color: #0069d9;
  }
.error {
    color: red;
    text-align: center;
    margin-top: 20px;
  }

  .success {
    color: green;
    text-align: center;
    margin-top: 20px;
  }
    </style>
  </head>
  <body>
    <div class="resetpassword-container">
    <form action="/api/users/reset-password" method="post">
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" v-model="formData.password" type="password" name="password" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input class="form-control" id="confirmPassword" v-model="formData.password" type="password" name="confirmPassword" required />
      </div>
      <input type="hidden" name="passwordResetToken" value="<%= passwordResetToken %>">
      <button type="submit">Reset Password</button>
    <% if (errorMessage) { %>
      <div class="error">
        <%= errorMessage %>
      </div>
    <% } %>
    <% if (successMessage) { %>
      <div class="success">
        <%= successMessage %>
      </div>
    <% } %>
  </form>
  </div>
  </body>
</html>


